* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Code Pro;
}

html,
body {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

nav h1 {
  font-size: 40px;
}
nav h4 {
  font-size: 25px;
  font-weight: 500;
}

nav button {
  padding: 22px 40px;
  font-size: 22px;
  border-radius: 10px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #000;
}
